<h1>Flight booked</h1>

<p>
    Thank you for booking a flight from <%=@booking.flight.departure_airport.code%> to <%=@booking.flight.arrival_airport.code%>.
</p>

<h2>Passengers:</h2>
<ul>
    <% @booking.passengers.each do |passenger| %>
        <li><%= passenger.name %></li>
    <% end %>
</ul>